parameters:
    level: 7

    paths:
        - src/

    reportUnmatchedIgnoredErrors: false
    
    ignoreErrors:
        - '#^Strict comparison using === between .*? will always evaluate to false\.$#'
        - '#^Call to an undefined method object::format\(\)\.$#'
        - identifier: missingType.generics
